<template>
  <!-- default layout start -->
  <div class="font-sans antialiased">
    <div class="w-full h-full mx-auto py-6 px-4">
      <!-- body start -->
      <div class="w-full relative">
        <div class="max-w-2xl mx-auto">
          <nuxt />
        </div>
      </div>
      <!-- body end -->
    </div>
  </div>
  <!-- default layout end -->
</template>
